{% extends "base.html" %}
{% block title %}Date App Home{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="height:40em">
        <div class="row">
            <h1 class="font-weight-lighter">LongRunGrowth Date App</h1>
            <h5 class="font-weight-lighter p-3">A quick way to query and check for quality in our data</h5>
            <!--<div class="block">
                <a href=/dateapp/review/ class="nounderline">
                    <button type="button" class="btn btn-primary btn-lg font-weight-lighter mr-3" method="post" style="border: white; background-color: #06b9f0 !important; width: 15em !important;">Click to query random dates</button>
                </a>
                <a href=/dateapp/filter/ class="nounderline">
                    <button type="button" class="btn btn-primary btn-lg font-weight-lighter ml-3" method="post" style="border: white; background-color: #06b9f0 !important; width: 15em !important;">Click to query filtered dates</button>
                </a>
            </div>-->
        </div>
    </div>
{% endblock %}
